/* Global styles */
body {
    background-color: #1a1a1a; /* Couleur de fond sombre */
    color: white; /* Couleur du texte */
    font-family: Arial, sans-serif; /* Police de caractère */
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #2c2c2c; /* Couleur de fond du header */
    color: #9b59b6; /* Couleur du texte */
    padding: 1rem;
    display: flex; /* Utiliser Flexbox pour aligner les éléments */
    justify-content: space-between; /* Aligner le contenu sur les extrémités */
    align-items: center; /* Centrer verticalement */
}

header .navbar-brand {
    display: flex;
    align-items: center; /* Centrer le logo verticalement */
}

header img {
    width: 180px; /* Largeur du logo */
    height: 60px; /* Hauteur du logo */
    border-radius: 10px; /* Bordures arrondies */
}

nav {
    display: flex; /* Utiliser Flexbox pour le menu */
    align-items: center; /* Centrer les éléments verticalement */
}

ul{
    list-style-type: none;
}

.navbar-nav {
    display: flex; /* Aligner les éléments de la nav sur une seule ligne */
    margin-left: 300%; /* Pousser le menu vers la droite */
}

.navbar-nav .nav-item {
    margin-left: 15px; /* Espacement entre les éléments de menu */
    
}

.nav-link {
    color: rgb(255, 255, 255); /* Couleur des liens */
    text-shadow: 1px 1px 2px rgb(254, 254, 254), 0 0 1em rgb(158, 2, 255), 0 0 0.2em rgb(151, 58, 238); /* Ombre pour les liens */
    text-decoration: none; /* Supprimer la décoration par défaut */
}

/* Main content styling */
main {
    padding: 1rem;
}

h2 {
    color: #9b59b6; /* Couleur du titre principal */
    margin-top: 0;
}

/* Episodes section styling */
section#episodes {
    background-color: #2c2c2c; /* Couleur de fond de la section des épisodes */
    padding: 1rem;
    border-radius: 10px; /* Bordures arrondies */
}

/* Season styling */
.season {
    margin-bottom: 2rem;
}

.season h3 {
    color: #9b59b6; /* Couleur des titres des saisons */
}

/* Episode list styling */
.episode-list {
    list-style: none;
    padding: 0;
}

.episode-list li {
    background-color: #333; /* Couleur de fond des éléments de la liste des épisodes */
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #9b59b6; /* Bordure des éléments */
    border-radius: 5px; /* Bordures arrondies */
}

.episode-list li h3 {
    margin: 0;
    color: #9b59b6; /* Couleur des titres des épisodes */
}




